app-admin {
    height: 100%;
    width: 100%;
}

.info-container {
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    padding-bottom: 100px;
}

.btn.btn-secondary {
    width: 100%;
    text-align: left;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #D9D9D9;
}

.btn.btn-secondary.btn-aside_menu {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    text-align: left;
    background-color: #585858;
    border-color: var(--secondary-color);
    color: #D9D9D9;
}

.btn.btn-secondary.collap {
    background-color: #D9D9D9;
    width: 100%;
    text-align: left;
    color: #000;
}

.btn.btn-secondary.collap:hover{
    background-color: #444;
    width: 100%;
    text-align: left;
    color: #FFF;
}

.menu-button {
    color: black;
    font-weight: bold;
    padding: 0
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.container-fluid {
    padding-top: 4px;
}

.list-title {
    color: var(--secondary-color);
    margin-left: 2vw;
    margin-top: 4px;
}

.icon-return {
    padding: 6px;
    font-size: 1.8rem
}

.profile-image {
    background: #D9D9D9;
    height: 200px;
    width: 200px;
    object-fit: scale-down;
    object-position: center;
}