<div class="mr-auto row ml-2" style="background-color: white">
	<a routerLink="/u/control/home" [routerLinkActive]="['active']" title="Atrás">
	    <i class="fas fa-reply icono" style="padding: 12px !important; font-size: 1.2rem; color: var(--secondary-color)"></i>
	</a>
	<h3 class="list-title mt-2">Vigilancia</h3>
</div>
<div class="home">
	<div class="row mx-auto">
		<a class="col-4 cardcontrol mt-5 link" routerLink="/u/control/guardias/activas" [routerLinkActive]="['active']">
			<div class="mx-auto content-control pb-2 pt-3">
				<i class="fas fa-user-check icono" style="background-color: #dc3545; padding: 12px 9px !important"></i>
				<p class="enlace">Guardias Activas</p>
			</div>
		</a>
		<a class="col-4 cardcontrol mt-5 link" routerLink="/u/control/guardias/todas" [routerLinkActive]="['active']">
			<div class="mx-auto content-control pb-2 pt-3">
				<i class="fas fa-user-secret icono" style="background-color: #6610f2; padding: 12px 14px !important"></i>
				<p class="enlace">Todos las Guardias</p>
			</div>
		</a>
	</div>
</div>