<div class="info-container panel panel-default" *ngIf="lista">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <a routerLink="/u/control/visitas" title="Atrás" style="color: var(--secondary-color)">
                <i class="fas fa-reply icon-return"></i>
            </a>
            <h3 class="list-title">Tipos de Vehiculos</h3>
        </div>
        <div class="ml-auto form-inline">
            <div class="btn-group" style="margin-right: 20px;">
                <a class="btn btn-success" style="color: white" data-toggle="modal" href="#modalnew"><i class="fas fa-plus-circle"></i>
                    Añadir Vehiculo
                </a>
            </div>
            <div class="form-group row">
                <input type="text" name="searchString" class="form-control mr-4" placeholder="Buscar vehiculo" [(ngModel)]="filter">
            </div>
            <div class="modal" tabindex="-1" role="dialog" id="modalnew">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #28a745; color: white;">
                            <h5 class="modal-title">Agregar Vehiculo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div style="margin-left: 10px" class="form-group mt-4 mb-4">
                            <label class="ml-1 mr-2"><b>Tipo</b></label>
                            <input type="text" name="newname" class="form-control" placeholder="Tipo de vehiculo" [(ngModel)]="newName" style="width: 70%">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" (click)="saveType()" data-dismiss="modal">Guardar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table mt-2 container">
        <table class="table table-bordered">
            <thead class="thead-light">
            <th style="width: 20%">ID</th>
            <th style="width: 60%">Nombre</th>
            <th style="width: 20%">Acción</th>
            </thead>
            <tbody>
            <tr *ngFor="let vehicle of data | filter:filter">
                <td>{{vehicle.id}}</td>
                <td>{{vehicle.name}}</td>
                <td >
                    <a class="btn btn-warning btn-xs" style="display: inline-block; margin-right: 10px;" data-toggle="modal" href="#edit{{vehicle.id}}" (click)="setName(vehicle.name)" title="Editar"><span class="fas fa-edit"></span></a>
                    <a class="btn btn-danger btn-xs" data-toggle="modal" href="#modal{{vehicle.id}}" title="Eliminar"><span class="fas fa-trash-alt"></span></a>
                </td>
                <div class="modal" tabindex="-1" role="dialog" id="modal{{vehicle.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #c82333; color: white;">
                                <h5 class="modal-title">Eliminar El Vehiculo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Está seguro que desea eliminar el vehiculo '{{vehicle.name}}' ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" (click)="deleteType(vehicle.id)" data-dismiss="modal">Eliminar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" tabindex="-1" role="dialog" id="edit{{vehicle.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #ffc107; color: white;">
                                <h5 class="modal-title">Editar Vehiculo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div style="margin-left: 10px" class="form-group form-inline mt-4 mb-4">
                                <label class="ml-1 mr-2"><b>Tipo</b></label>
                                <input type="text" name="newname" class="form-control" placeholder="Inserte nombre" [(ngModel)]="editName" style="width: 70%">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" (click)="editType(vehicle)" data-dismiss="modal">Guardar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>