<main class="control-container">
  <aside>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne" style="height:50px">
          <h5 class="mb-1">
            <button class="btn btn-link collapsed menu-button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Administradores
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <ul class="list-group">
            <li class="list-group-item">Todos</li>
            <li class="list-group-item">Crear</li>
            <li class="list-group-item">Editar</li>
            <li class="list-group-item">Eliminar</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed menu-button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Guardias
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <ul class="list-group">
            <li class="list-group-item">Todos</li>
            <li class="list-group-item">Crear</li>
            <li class="list-group-item">Editar</li>
            <li class="list-group-item">Eliminar</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed menu-button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Opciones
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <ul class="list-group">
            <li class="list-group-item">Temporizadores</li>
          </ul>
        </div>
      </div>
    </div>
  </aside>
  <div class="info-container">
    <main></main>
  </div>
</main>