<div class="background-container">
    <div style="height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center">
        <img src="./favicon.png" style="width: 118px; height: 140px; margin-bottom: -70px; z-index: 5000">
        <form class="simple-login-container animation-fadeIn"
              [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div style="display: flex; flex-direction: column; align-items: center">
                    <h2 style="padding: 0; margin: 0">Ingreso</h2>
                    <h2 style="padding: 0; margin: 0">ICSSE Seguridad</h2>
                    <br>
                </div>
                <input type="text" formControlName="dni" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dni.errors }" placeholder="Cédula"/>
                <div *ngIf="submitted && f.dni.errors" class="invalid-feedback">
                    <div *ngIf="f.dni.errors.required">Cedula is required</div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" formControlName="password" placeholder="Ingresa tu Contraseña" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" *ngIf="!loading disable" class="btn-login" text="login" >
                    Entrar
                </button>
                <div class="loader" *ngIf="loading"></div>
                <!--  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->
            </div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
        <br>
        <br>
    </div>

    <div class="container-version">
        <p style="color: gray; font-size: 12px">Versión: {{systemVersion}}</p>
    </div>

</div>
