.aside{
    min-height: 100vh;
    max-width: 350px;
    background-color: var(--secondary-color);
    padding: 0 0 0 5px;
}

.menu-items{
    display: flex;
    margin: 0 5px 20px 0;
    padding: 0;
    list-style: none;
}

.menu-item{
    padding: 8px;
    color: #fff;
    cursor: pointer;

}

.menu-items{
    position: relative;
    display: inline-block;

}

.drop-content{
    display: none;
    position: absolute;
    z-index: 1;
}

.menu-items:hover, .drop-content{
    display: inline-block;
}


.active-side{
    background: #333;
    border-bottom: 3px solid white;
}

.filter{
    width: 95%;
    margin-bottom: 20px;
}

.menu-item:hover{
    background-color: #444;
}

.guard-cards-container{
    overflow: auto;
    height: 80vh;
}

.guard-cards-container::-webkit-scrollbar{
    width: 6px;
}

.guard-cards-container::-webkit-scrollbar-thumb{
    background-color: #fff;
}

.guard-card{
    background-color: whitesmoke;
    min-height: 150px;
    max-width: 320px;
    border-radius: 3px;

    margin-right: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
}

.guard-card:hover{
    cursor: pointer;
}

.imei{
    font-weight: bold;
}

.status-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 40px;
}

.date{
    font-size: .8em;
}

.online{
    color: limegreen;
}

.inactive{
    color: red;
}

