<aside>
    <div id="accordion">
        <a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/admin" [routerLinkActive]="['active']" title="Administradores">
            <i class="fas fa-user"></i>
        </a>
        <a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/guardia" [routerLinkActive]="['active']" title="Guardias">
            <i class="fas fa-user-shield"></i>
        </a>
        <a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/home/visitas" [routerLinkActive]="['active']" title="Visitas">
            <i class="fas fa-users"></i>
        </a>
        <a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/alertas" [routerLinkActive]="['active']" title="Alertas">
            <i class="fas fa-bell"></i>
        </a>
        <a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/home/bitacora" [routerLinkActive]="['active']" title="Bitacora">
            <i class="fas fa-list-ol"></i>
        </a>
        <a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/home/vigilancia" [routerLinkActive]="['active']" title="Vigilancia">
            <i class="fas fa-tablet-alt"></i>
        </a>
        <a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/home/cerco" [routerLinkActive]="['active']" title="Cerco Virutal">
            <i class="fas fa-map-marked"></i>
        </a>
        <a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/home/historial" [routerLinkActive]="['active']" title="Historial">
            <i class="fas fa-history"></i>
        </a>
        <a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/configuracion" [routerLinkActive]="['active']" title="Configuracion">
            <i class="fas fa-cog"></i>
        </a>
    </div>
</aside>
