<aside>
    <div id="accordion">
        <a class="btn btn-aside_menu" role="button" routerLink="/u/control/admin" title="Administradores">
            <i class="fas fa-user"></i>
        </a>
        <a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/guardia" title="Guardias">
            <i class="fas fa-user-shield"></i>
        </a>
        <a class="btn btn-aside_menu" role="button" routerLink="/u/control/home/visitas" title="Visitas">
            <i class="fas fa-users"></i>
        </a>
        <a class="btn btn-aside_menu" role="button" routerLink="/u/control/home/bitacora" title="Bitacora">
            <i class="fas fa-list-ol"></i>
        </a>
        <a class="btn btn-aside_menu" role="button" routerLink="/u/control/home/vigilancia" title="Vigilancia">
            <i class="fas fa-search"></i>
        </a>
        <a class="btn btn-aside_menu" role="button" routerLink="/u/control/configuracion" title="Configuracion">
            <i class="fas fa-cog"></i>
        </a>
    </div>
</aside>