<main class="control-container">
  <aside>
    <div id="accordion">
      <a class="btn btn-secondary" role="button" routerLink="/u/control">
        <i class="fas fa-edit"></i>
        Administradores
      </a>
      <a class="btn btn-secondary" role="button" routerLink="/u/control/guardia">
        <i class="fas fa-edit"></i>
          Guardias
      </a>
      <a class="btn btn-secondary" data-toggle="collapse" href="#collapseVisit" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-edit"></i>
          Visitas
        <i class="fas fa-plus" style="float: right;"></i>
      </a>
      <div class="collapse" id="collapseVisit" aria-labelledby="headingThree" data-parent="#accordion">
        <a class="btn btn-secondary collap" role="button">Visitas Activas</a>
        <a class="btn btn-secondary collap" role="button">Visitas Finalizadas</a>
        <a class="btn btn-secondary collap" role="button">Todas las Visitas</a>
        <a class="btn btn-secondary collap" role="button" routerLink="/u/control/visitas/vehiculos">Vehículos Visitantes</a>
        <a class="btn btn-secondary collap" role="button" routerLink="/u/control/visitas/visitantes">Visitantes</a>
        <a class="btn btn-secondary collap" role="button" routerLink="/u/control/visitas/funcionarios">Funcionarios</a>
      </div>
      <a class="btn btn-secondary" data-toggle="collapse" href="#collapseBitacora" role="button" aria-expanded="true" aria-controls="collapseExample">
        <i class="fas fa-edit"></i>
          Bitácora
        <i class="fas fa-plus" style="float: right;"></i>
      </a>
      <div class="collapse show" id="collapseBitacora" aria-labelledby="headingThree" data-parent="#accordion">
        <a class="btn btn-secondary collap" role="button" routerLink="/u/control/bitacora/reportes">Urgente Pendiente</a>
        <a class="btn btn-secondary collap" role="button" routerLink="/u/control/bitacora/reportfilter">Reportes</a>
        <a class="btn btn-secondary collap" role="button" routerLink="/u/control/bitacora/incidencias" style="background-color: #444;width: 100%;text-align: left;color: #FFF;">Tipos de incidencias</a>
      </div>
      <a class="btn btn-secondary" role="button">
        <i class="fas fa-edit"></i>
        Configuración
      </a>
    </div>
  </aside>
  <div class="info-container panel panel-default" *ngIf="lista">
    <div class="container-fluid row mx-auto mt-2">
      <div class="mr-auto" ><h3>Incidencias</h3></div>
        <div class="ml-auto">
          <div class="btn-group">
            <a class="btn btn-success" style="color: white" (click)="crearIncidencia()"><i class="fas fa-plus-circle"></i>
              Añadir Incidencia
            </a>
          </div>
        </div>
    </div>
    <div class="table mt-2">
            <table class="table table-striped">
             <thead>
               <th>ID</th>
               <th>Nombre</th>
               <th>Nivel</th>
               <th>Acciones</th>
             </thead>
             <tbody>
              <tr *ngFor="let d of data">
                <td>{{d.id}}</td>
                <td>{{d.name}}</td>
                <td>{{d.level}}</td>
                <td>
                  <a class="btn btn-warning btn-xs" style="display: inline-block; margin-right: 10px;" (click)="editarIncidencia(d.id)" title="Editar"><span class="fas fa-edit"></span></a>
                  <form method="post" style="display: inline-block;">
                   <button class="btn btn-danger btn-xs" (click)="deleteIncidencia(d.id)" title="Eliminar" type="submit"><span class="fas fa-trash-alt"></span></button>
                 </form>
                 </td>
               </tr>
            </tbody>
 
          </table>
    </div>
  </div>
  <div class="info-container panel panel-default" *ngIf="crear">
    <div class="panel-heading" style="background-color: #D9D9D9; padding: 10px">
      <h3 class="panel-title"><i class="fas fa-plus-circle" style="margin-right: 20px;"></i> Nueva Incidencia</h3>
    </div>
    <div class="panel-body mt-2">          
          <div class="table-container container">
            <form method="POST"  role="form">
              <div class="form-group row">
                <label for="namea" class="col-sm-2 col-form-label">Nombres <span class="text-danger">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="namea" placeholder="Introduzca nombre" [(ngModel)]="namea" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-group row">
                <label for="nivela" class="col-sm-2 col-form-label">Nivel <span class="text-danger">*</span></label>
                <div class="col-sm-10">
                  <input type="number" min="1" max="3" class="form-control" id="nivela" placeholder="Introduzca nivel" [(ngModel)]="nivela" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div>
                <p *ngIf="errorSave" class="text-danger">Error al guardar, intente nuevamente</p>
                <p *ngIf="errorSaveData" class="text-danger">{{errorNewMsg}}</p>
              </div>
              <div class="row mt-4">
                  <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="regresar()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a> 
                  <button type="button" class="btn btn-success btn-block col-md-3 mr-auto" (click)="saveNewIncidencia()"  style=" margin: 0px 0px 0px 20px"><i class="fas fa-plus-circle" style="margin-right: 10px;"></i>Agregar Incidencia</button>
              </div>
            </form>
          </div>
        </div>
  </div>
  <div class="info-container panel panel-default" *ngIf="editar">
    <div class="panel-heading" style="background-color: #D9D9D9; padding: 10px">
      <h3 class="panel-title"><i class="fas fa-edit" style="margin-right: 20px;"></i>Editar Incidencia</h3>
    </div>
    <div class="panel-body mt-2">          
          <div class="table-container container">
            <form role="form">
              <div class="form-group row">
                <label for="nombre" class="col-sm-2 col-form-label">Nombres</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="nombre" placeholder="Introduzca Nombre" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-group row">
                <label for="nivel" class="col-sm-2 col-form-label">Nivel</label>
                <div class="col-sm-10">
                  <input type="number" min="1" max="3" class="form-control" id="nivel" placeholder="Introduzca Nivel" [(ngModel)]="nivel" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div>
                <p *ngIf="errorEdit" class="text-danger">Error al guardar, intente nuevamente</p>
                <p *ngIf="errorEditData" class="text-danger">{{errorEditMsg}}</p>
              </div>
              <div class="row mt-4">
                  <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="regresar()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a> 
                  <button type="button" class="btn btn-success btn-block col-md-3 mr-auto" (click)="saveEdit()" style=" margin: 0px 0px 0px 20px"><i class="fas fa-edit" style="margin-right: 10px;"></i>Editar Incidencia</button>
              </div>
            </form>
          </div>
        </div>
  </div>
</main>

