<div class="home">
	<div class="row mx-auto">
		<a class="col-4 cardcontrol mt-5 link" routerLink="/u/control/visitas/visitas/activas" [routerLinkActive]="['active']">
			<div class="mx-auto content-control pb-2 pt-3">
				<i class="fas fa-user-clock icono" style="background-color: #ffc107; padding: 12px 9px !important"></i>
				<p class="enlace">Visitas Activas</p>
			</div>
		</a>
		<a class="col-4 cardcontrol mt-5 link" routerLink="/u/control/visitas/visitas/todas" [routerLinkActive]="['active']">
			<div class="mx-auto content-control pb-2 pt-3">
				<i class="fas fa-user-check icono" style="background-color: #dc3545; padding: 12px 9px !important"></i>
				<p class="enlace">Todas las Visitas</p>
			</div>
		</a>
		<a class="col-4 cardcontrol mt-5 link" routerLink="/u/control/visitas/vehiculos" [routerLinkActive]="['active']">
			<div class="mx-auto content-control pb-2 pt-3">
				<i class="fas fa-car icono" style="background-color: #007bff; padding: 12px !important"></i>
				<p class="enlace">Vehículos Visitantes</p>
			</div>
		</a>
	</div>
	<div class="row mx-auto">
		<a class="col-4 cardcontrol mt-5 link" routerLink="/u/control/visitas/visitantes" [routerLinkActive]="['active']">
			<div class="mx-auto content-control pb-2 pt-3">
				<i class="fas fa-user-friends icono" style="background-color: #6610f2; padding: 12px 9px !important"></i>
				<p class="enlace">Visitantes</p>
			</div>
		</a>
		<a class="col-4 cardcontrol mt-5 link"  routerLink="/u/control/visitas/funcionarios" [routerLinkActive]="['active']">
			<div class="mx-auto content-control pb-2 pt-3">
				<i class="fas fa-user-tie icono" style="background-color: #fd7e14; padding: 12px 14px!important"></i>
				<p class="enlace">Funcionarios</p>
			</div>
		</a>
	</div>
	<div class="row mx-auto mt-5">
		<a class="mx-auto" routerLink="/u/control/home" [routerLinkActive]="['active']" title="Atrás">
			<i class="fas fa-reply icono" style="background-color: #28a745; padding: 12px !important"></i>
		</a>
	</div>
</div>