<!--Main nav-->
<ul class="list-items" id="items">
  <li routerLink="/u/dashboard" class="list-item" [routerLinkActive]="['active']">Dashboard</li>
  <li routerLink="/u/monitoring" class="list-item" [routerLinkActive]="['active']">Monitoreo</li>
  <li routerLink="/u/control" class="list-item" [routerLinkActive]="['active']">Control</li>
  <li routerLink="/u/report" class="list-item" [routerLinkActive]="['active']">Reportes</li>
  <li routerLink="/login" class="list-item" [routerLinkActive]="['active']">Salir</li>
</ul>