

  <div class="info-container panel panel-default" *ngIf="lista">
    <div class="container-fluid row mx-auto mt-2">
      <div class="mr-auto row ml-1">
        <a routerLink="/u/control/home" title="Atrás" style="color: var(--secondary-color)">
          <i class="fas fa-reply icon-return"></i>
        </a>
        <h3 class="list-title">Guardias</h3>
      </div>
        <div class="ml-auto  form-inline">
          <div class="btn-group" style="margin-right: 20px;">
            <a class="btn btn-success" style="color: white" (click)="crearGuardia()"><i class="fas fa-plus-circle"></i>
              Añadir Guardia
            </a>
          </div>
        </div>
    </div>
  <div class="container-fluid row mx-auto mt-2">
      <div class="mr-auto row ml-2 form-inline">
            <label class="mr-1"><b>Mostrar:</b></label>
            <select id="inputState" class="form-control mr-1 filtros" [(ngModel)]="numElement" [ngModelOptions]="{standalone: true}">
              <option [ngValue]="10">10</option>
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="100">100</option>
            </select>
            <label>Elementos</label>
        </div>
        <div class="ml-auto  form-inline">
          <div class="form-group row">
            <input type="text" name="searchString" class="form-control mr-4" placeholder="Buscar Cédula" [(ngModel)]="guardFilter.dni">
          </div>
        </div>
    </div>
    <div class="table mt-2">
        <table class="table table-striped">
         <thead>
           <th></th>
           <th>ID</th>
           <th>Cédula</th>
           <th>Nombres</th>
           <th>Apellidos</th>
           <th>Correo</th>
           <th>Activo</th>
           <th>Acciones</th>
         </thead>
         <tbody>
          <tr *ngFor="let d of data | filterBy: guardFilter | paginate: { itemsPerPage: numElement, currentPage: p }">
            <td></td>
            <td>{{d.id}}</td>
            <td>{{d.dni}}</td>
            <td>{{d.name}}</td>
            <td>{{d.lastname}}</td>
            <td>{{d.email}}</td>
            <td>{{d.active}}</td>
            <td>
              <a class="btn btn-info" *ngIf="d.active == 0" (click)="activarGuardia(d.id)" style="display: inline-block; margin-right: 10px; width: 100px">Activar</a>
                        <a class="btn btn-secondary" *ngIf="d.active == 1" (click)="desactivarGuardia(d.id)" style="display: inline-block; margin-right: 10px;  width: 100px">Desactivar</a>
              <a class="btn btn-primary btn-xs" (click)="viewDetail(d.id)" style="display: inline-block; margin-right: 10px;" title="Detalle"><span class="far fa-eye"></span></a>
              <a class="btn btn-warning btn-xs" style="display: inline-block; margin-right: 10px;" (click)="editarGuardia(d.id)" title="Editar"><span class="fas fa-edit"></span></a>
              <a class="btn btn-danger btn-xs" data-toggle="modal" href="#modal{{d.id}}" title="Eliminar"><span class="fas fa-trash-alt"></span></a>
             </td>
             <div class="modal" tabindex="-1" role="dialog" id="modal{{d.id}}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header" style="background-color: #c82333; color: white;">
                      <h5 class="modal-title">Eliminar Guardia</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>¿Está seguro que desea eliminar a {{d.name}} {{d.lastname}}?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" (click)="deleteGuardia(d.id)" data-dismiss="modal">Eliminar</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
           </tr>
        </tbody>
      </table>
      <div style="text-align: center; padding-right: 40px;">
          <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel=""
                nextLabel="">
          </pagination-controls>
      </div>
    </div>
  </div>
  <div class="info-container panel panel-default" *ngIf="detalle">
    <div class="panel-heading" style="background-color: #D9D9D9; padding: 10px">
      <h3 class="panel-title"><i class="fas fa-info-circle" style="margin-right: 20px;"></i>Detalle Guardia</h3>
    </div>
    <div class="panel-body mt-2">          
      <div class="table-container container">
        <form  role="form">
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Nombres</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control" id="name" value="{{guardia.name}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="lastname" class="col-sm-2 col-form-label">Apellidoss</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control" id="lastname" value="{{guardia.lastname}}">
            </div>
          </div>
          <div *ngIf="guardia.photo"  class="form-group row">
              <label for="photo" class="col-sm-2 col-form-label">Foto</label>
              <div class="col-sm-5">
                  <img src="{{guardia.photo}}" class="profile-image">
              </div>
          </div>
          <div class="form-group row">
            <label for="dni" class="col-sm-2 col-form-label">Cédula</label>
            <div class="col-sm-10">
              <input type="number" readonly class="form-control" id="dni" value="{{guardia.dni}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Correo</label>
            <div class="col-sm-10">
              <input type="email" readonly class="form-control" id="email" value="{{guardia.email}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="creation" class="col-sm-2 col-form-label">Fecha de creación</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control" id="creation" value="{{guardia.create_date}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="update" class="col-sm-2 col-form-label">Última actualización</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control" id="update" value="{{guardia.update_date}}">
            </div>
          </div>
          <div class="row mt-4">
              <a class="btn btn-info btn-block col-md-3 mx-auto" (click)="regresar()" style="color: white;"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a> 
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="info-container panel panel-default" *ngIf="editar">
    <div class="panel-heading" style="background-color: #D9D9D9; padding: 10px">
      <h3 class="panel-title"><i class="fas fa-edit" style="margin-right: 20px;"></i>Editar Guardia</h3>
    </div>
    <div class="panel-body mt-2">          
          <div class="table-container container">
            <form role="form">
              <div class="form-group row">
                <label for="nombre" class="col-sm-2 col-form-label">Nombres</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="nombre" placeholder="Introduzca nombre" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-group row">
                <label for="apellido" class="col-sm-2 col-form-label">Apellidos</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="apellido" placeholder="Introduzca apellido" [(ngModel)]="apellido" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-group row">
                  <label for="photo" class="col-sm-2 col-form-label">Foto</label>
                  <div class="col-sm-5">
                    <img *ngIf="photo" src="{{photo}}" class="profile-image">
                    <img *ngIf="!photo" src="{{photoa}}" class="profile-image">
                  </div>
                  <div class="col-sm-5">
                      <input type="file" class="form-control" id="photo" accept="image/*" (change)="upload($event)">
                      <div class="progress mt-3">
                          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) + '%'" [attr.aria-valuenow]="(uploadPercent | async)" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                <label for="identificacion" class="col-sm-2 col-form-label">Cédula</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="identificacion" placeholder="Introduzca cédula" [(ngModel)]="identificacion" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-group row">
                <label for="correo" class="col-sm-2 col-form-label">Correo</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="correo" placeholder="Introduzca correo" [(ngModel)]="correo" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-group row">
                <label for="contrasena" class="col-sm-2 col-form-label">Contraseña</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="contrasena" placeholder="Introduzca contraseña" [(ngModel)]="contrasena" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div>
                <p *ngIf="errorEdit" class="text-danger">Error al guardar, intente nuevamente</p>
                <p *ngIf="errorEditData" class="text-danger">{{errorEditMsg}}</p>
              </div>
              <div class="row mt-4">
                  <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="regresar()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a> 
                  <button type="button" class="btn btn-success btn-block col-md-3 mr-auto" (click)="saveEdit()" style=" margin: 0px 0px 0px 20px"><i class="fas fa-edit" style="margin-right: 10px;"></i>Editar Guardia</button>
              </div>
            </form>
          </div>
        </div>
  </div>
  <div class="info-container panel panel-default" *ngIf="crear">
    <div class="panel-heading" style="background-color: #D9D9D9; padding: 10px">
      <h3 class="panel-title"><i class="fas fa-plus-circle" style="margin-right: 20px;"></i> Nuevo Guardia</h3>
    </div>
    <div class="panel-body mt-2">          
          <div class="table-container container">
            <form method="POST"  role="form">
              <div class="form-group row">
                <label for="namea" class="col-sm-2 col-form-label">Nombres <span class="text-danger">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="namea" placeholder="Introduzca nombre" [(ngModel)]="namea" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-group row">
                <label for="lastnamea" class="col-sm-2 col-form-label">Apellidos <span class="text-danger">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="lastnamea" placeholder="Introduzca apellido" [(ngModel)]="lastnamea" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-group row">
                  <label for="photo" class="col-sm-2 col-form-label">Foto</label>
                  <div class="col-sm-5">
                      <img src="{{photoa}}" class="profile-image">
                  </div>
                  <div class="col-sm-5">
                      <input type="file" class="form-control" id="photo" accept="image/*" (change)="uploadNew($event)">
                      <div class="progress mt-3">
                          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) + '%'" [attr.aria-valuenow]="(uploadPercent | async)" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                <label for="dnia" class="col-sm-2 col-form-label">Cédula <span class="text-danger">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="dnia" placeholder="Introduzca cédula" [(ngModel)]="dnia" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-group row">
                <label for="emaila" class="col-sm-2 col-form-label">Correo <span class="text-danger">*</span></label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="emaila" placeholder="Introduzca correo" [(ngModel)]="emaila" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-group row">
                <label for="passworda" class="col-sm-2 col-form-label">Contraseña <span class="text-danger">*</span></label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="passworda" placeholder="Introduzca contraseña" [(ngModel)]="passworda" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div>
                <p *ngIf="errorSave" class="text-danger">Error al guardar, intente nuevamente</p>
                <p *ngIf="errorSaveData" class="text-danger">{{errorNewMsg}}</p>
              </div>
              <div class="row mt-4">
                  <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="regresar()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a> 
                  <button type="button" class="btn btn-success btn-block col-md-3 mr-auto" (click)="saveNewGuardia()"  style=" margin: 0px 0px 0px 20px"><i class="fas fa-plus-circle" style="margin-right: 10px;"></i>Agregar Guardia</button>
              </div>
            </form>
          </div>
        </div>
  </div>


