.aside{
    height: 100vh;
    width: 350px;
    background-color: var(--secondary-color);
    padding: 0 0 0 5px;

}

.header-aside{
    display: flex;
}

.menu-items{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
    background-color: #444;
}

.menu-item{

    background-color: #444 ;
    margin: 0;
    padding: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0;
}

.menu-item:hover{
    background-color: #333333;
}

.checked-icon{
    margin-top: 5px;
    margin-right: 5px;
    height: 12px;
}

.is-active{
    background: #333;
    border-bottom: 3px solid white;
}

.filter{
    width: 95%;
    margin-bottom: 20px;
}

.menu-items:hover{
    background-color: #333;

    cursor: pointer;
}

.cards-container{
    overflow: auto;
    height: 100%;

}

.cards-container::-webkit-scrollbar{
    width: 6px;
}

.cards-container::-webkit-scrollbar-thumb{
    background-color: #fff;
}

.vehicle-card{
    background-color: whitesmoke;
    height: 155px;
    max-width: 320px;
    border-radius: 3px;

    margin-right: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    overflow: hidden;
}

.vehicle-card:hover{
    cursor: pointer;
}

.watch-card{
    background-color: whitesmoke;
    height: 155px;
    max-width: 320px;
    border-radius: 3px;

    margin-right: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    overflow: hidden;
}

.watch-card:hover{
    cursor: pointer;
}

.imei{
    font-weight: bold;
}

.ps{
    margin: 0;
}

.status-container{
    display: flex;

}

.devices-type{
    margin-top: 3px;
    margin-right: 8px;
    height: 23px;

}

.date{
    font-size: .8em;
}

.online{
    color: limegreen;
}

.inactive{
    color: red;
}

