<!--Sidebar-->
<aside class="aside">
  <!--header aside-->

  <div class="header-aside" id="header-aside">
   
    <ul class="menu-items" id="menu-items">
      <li class="menu-item active-side" >Dispositivos</li>
      <li class="menu-item">Alertas</li>
    </ul>
    
    <li  (click)="changeOptions('showVehiclesMarkers')" class="menu-item opt-dispositivos">Vehiculos</li>
    <li  (click)="changeOptions('showWatchesMarkers')" class="menu-item opt-dispositivos">Guardias</li>
    
    <input  (keyup)="$event.keyCode == 13 ? find(newSearsh) : null" #newSearsh class="filter" type="text" placeholder="Filtrar">
    
  </div>

  <div class="cards-container">
    <!--Vehicles Card-->
    <div *ngIf="showOpt.showVehicles" >
      <div  *ngFor="let vehicle of vehicles"  class="vehicle-card" (click)="focusMarker(vehicle.latitude, vehicle.longitude)">
        <p class="imei">IMEI {{vehicle.imei}}</p>
        <p class="alias">{{vehicle.alias}}</p>
        <p class="date">Fecha {{vehicle.generated_time}}</p>
        <p class="status-container">Status:<span class=""
                                                 *ngIf="vehicle.device_status == 'OFFOROUTOFCOVERAGE'; else online"
                                                 [ngClass]="{'inactive':vehicle.device_status=='OFFOROUTOFCOVERAGE'}">{{devices_status}}</span></p>
      </div>
    </div>
    
    <!--watches card-->
      <div *ngIf="showOpt.showWatches">
        <div   *ngFor="let watch of watches"  class="watch-card">
          <p class="imei">DNI {{watch.guard.dni}}</p>
          <p class="alias">Nombre: {{watch.guard.name}}</p>
          <p class="date">Apellido: {{watch.guard.lastname}}</p>
          <p class="status-container">Status: <span class="">{{'ACTIVO'}}</span></p>
        </div>
      </div>
  </div>
  
  <ng-template #online>
      <p class="online">
          ONLINE
      </p>
  </ng-template>
  
</aside>