<!--Sidebar-->
<aside class="aside">

  <!--header aside-->
  <!--<div class="header-aside">-->
    <!--<div class="dropdown">-->
      <!--<div class="btn btn-secondary menu-item dropdown-toggle" href="#"   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--Dispositivos-->
      <!--</div>-->
    <!---->
      <!--<div class="dropdown-menu menu-item" >-->
        <!--<div class=" menu-items" (click)="selectMarkersOpts('showVehicles')" >Vehiculos<img *ngIf="vehiclesCheck" class="checked-icon" src="{{CHECK_ICON_URL}}" alt=""></div>-->
        <!--<div class=" menu-items" (click)="selectMarkersOpts('showBombas')">Bombas<img *ngIf="bombasCheck" class="checked-icon" src="{{CHECK_ICON_URL}}" alt=""></div>-->
        <!--<div class=" menu-items" (click)="selectMarkersOpts('showTablets')">Tablets   <img *ngIf="watchesCheck" class="checked-icon" src="{{CHECK_ICON_URL}}" alt=""></div>-->
        <!--&lt;!&ndash;<div class=" menu-items" (click)="selectMarkersOpts('showNoGroups')">No agrupados<img *ngIf="noGroupCheck" class="checked-icon" src="{{CHECK_ICON_URL}}" alt=""></div>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="menu-item alerta">Alertas</div>-->
  <!--</div>-->

  <div class="container">
    <ul class="nav nav-tabs header-aside">
      <li class="menu-item active">
        <a class="tab-title" data-toggle="tab" href="#alerts">Alertas</a>
      </li>
      <li class="menu-item">
        <a class="tab-title" data-toggle="tab" href="#devices">Dispositivos</a>
      </li>
    </ul>

    <div class="tab-content">

      <div id="devices" class="tab-pane fade">
        <input [(ngModel)]="search" name="search"  #newSearsh class="filter form-control" type="text" placeholder="Filtrar">
        <p *ngIf="noCards" class="no-cards">Seleccione dispositivo</p>
        <!--Cards contaniner-->
        <div class="cards-container"  *ngIf="showCardContainer">
          <!--Cards-->
          <div>
            <div *ngFor="let data of markersData | filter: search">
              <div  *ngIf="data.group_name === 'Tablet Guardia'">
                <app-card-tablet *ngIf="watchesCheck" [tablet]="data"></app-card-tablet>
              </div>
              <div *ngIf="data.group_name === 'BOMBAS DE DRENAJE'">
                <app-card-vehicle *ngIf="bombasCheck" [vehicle]="data"></app-card-vehicle>
              </div>
              <div *ngIf="data.group_name === 'AZUCARERA INGENIO VALDEZ'">
                <app-card-vehicle *ngIf="vehiclesCheck" [vehicle]="data"></app-card-vehicle>
              </div>
              <div *ngIf="data.group_name !== 'AZUCARERA INGENIO VALDEZ' && 'BOMBAS DE DRENAJE' && 'Tablet Guardia'">
                <!--no group-->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="alerts" class="tab-pane fade in active" style="background: #c82333">
        <div class="cards-container">
          <div>
            <div>
              <div>
                <app-card-alert></app-card-alert>
                <app-card-alert></app-card-alert>
                <app-card-alert></app-card-alert>
                <app-card-alert></app-card-alert>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</aside>