.aside{
    height: 100%;
    width: 340px;
    background-color: var(--secondary-color);
}

.header-aside{
    display: flex;
    margin-bottom: 12px;
    max-height: 47px;
}

.alerta {
    height: 100%;
}

.menu-items{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 8px;
    list-style: none;
    color: #fff;
    background-color: #444;
}

.menu-item{
    background-color: #444 ;
    margin: 0;
    padding: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0;
}

.menu-item:hover{
    background-color: #333333;
}

.checked-icon{
    margin-top: 5px;
    margin-right: 5px;
    height: 12px;
}

.is-active{
    background: #333;
    border-bottom: 3px solid white;
}

.filter{
    margin-left: 5px;
    width: 95%;
    margin-bottom: 12px;
    margin-top: 12px;
}

.menu-items:hover{
    background-color: #333;
    cursor: pointer;
}


.cards-container{
    overflow: auto;
    height: 100%;
}

.cards-container::-webkit-scrollbar{
    width: 8px;
}

.cards-container::-webkit-scrollbar-thumb{
    background-color: #fff;
}

.no-cards {
    margin: auto auto;
}

.status-container{
    display: flex;
}

.tab-title {
    color: white;
    text-decoration: none;
    padding: 0 8px
}

.tab-content {
    position: absolute;
    width: 340px;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
    display: block;
}


.tab-pane {
    position: absolute;
    width: 340px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.container {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 340px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.cards-container.devices-container {
    height: auto;
    position: absolute;
    width: 340px;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
}
