.tablet-card{
    background-color: whitesmoke;
    height: auto;
    max-width: 320px;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 9px 10px;
    overflow: hidden;
}

.ps{
    margin: 0;
}

.alert-title{
    font-weight: bold;
}

.alert-text{
    font-size: .9em;
    line-height: 1.2;
}

.alert-imei{
    font-size: .9em;
    font-weight: bold;
}


.alert-date{
    color: #4A4048;
    font-size: .8em;
}