<div class="tablet-card">
    <!--<p class="alert-title ps">{{title}}</p>-->
    <div *ngIf="alert.guard_id">
        <p class="alert-import ps" *ngIf="alert.status == 1">Importante!</p>
        <p class="alert-title ps" *ngIf="alert.cause != 'GENERAL'">{{title}}</p>
        <p class="alert-text ps">{{alert.message}}</p>
        <p class="alert-date ps">{{date | date : "medium"}}</p>
        <button class="btn btn-success" *ngIf="alert.status == 1" (click)="callParent(alert)"><span class="fas fa-check"></span></button>
    </div>
    <div *ngIf="alert.imei">
        <p class="alert-text ps">{{alert.message}}</p>
        <p class="alert-imei ps">imei: {{alert.imei}}</p>
        <p class="alert-date ps">{{date | date : "medium"}}</p>
    </div>
    <!--<p class="ps">Status:</p>-->
</div>