<div class="chat-container">
	<aside class="chat-aside">
		<div class="container-fluid col-md-12 col-md-offset-12" style="height:100% !important"> <!--DIV COLMD -->
			<br>
			<ul class="nav nav-tabs header-aside" style="height: 30px">
				<li class="nav-item">
					<a class="nav-link active show" data-toggle="tab" href="#guard" style="height: 30px; border-radius: 0; padding-top: 0"><p style="margin: 2px">Guardias</p></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#admin" style="height: 30px; border-radius: 0; padding-top: 0"><p style="margin: 2px">Administradores</p></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#channel" style="height: 30px; border-radius: 0; padding-top: 0"><p style="margin: 2px">Grupos</p></a>
				</li>
			</ul>
			<div id="myTabContent" class="tab-content"> <!--  MY TAB CONTENT -->
				<div class="tab-pane fade active show" id="guard"> <!-- ID GUARD -->
					<ul class="list-group">
						<div *ngFor="let guard of listContactGuard">
							<app-item-guard [guard]="guard" (click)="listAllChat(guard.id,guard.name,guard.type)"></app-item-guard>
						</div>
					</ul>
				</div> <!-- ID GUARD -->
					<div class="tab-pane fade" id="admin"> <!-- ID ADMIN -->
						<ul class="list-group">
							<div *ngFor="let guard of listContactAdmin">
								<app-item-guard [guard]="guard" (click)="listAllChat(guard.id,guard.name,guard.type)"></app-item-guard>
							</div>
						</ul>
					</div> <!-- ID ADMIN -->
					<div class="tab-pane fade" id="channel"> <!-- ID CHANNEL -->
						<ul class="list-group">
						<form #channelForm="ngForm" (ngSubmit)="newChannel(channelForm.value)" autocomplete="off" style="background-color: #656565; padding: 8px">
							<div class="form-group">
								<label for="nameChannel" style="color: white">Nuevo grupo</label>
								<br>
								<input [(ngModel)]="nameChannel" type="text" class="form-control" id="nameChannel" name="nameChannel" placeholder="Nombre del grupo...">
							</div>
							<button type="submit" class="btn btn-primary" [disabled]="loading" *ngIf="!loading disable" >Crear</button>
							<div class="loader" *ngIf="loading"></div>
						</form>
						</ul>
						<br>
						<ul class="list-group" *ngFor="let chit of listChannelAdmin">
							<li class="list-group-item">
								<a class="btn buttonContact " (click)="openChannel(chit.id,chit.name)"><span> {{chit.name}} </span></a>
								<a class="btn btn-danger fas fa-user-plus" data-toggle="modal" href="#add{{chit.id}}" title="Add" style="float: right; padding: 12px"></a>
							</li>
							<div class="modal" id="add{{chit.id}}">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Agregar Participantes </h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<form [formGroup]="myForm">
												<li class="list-group-item list" style="border: 0; align-items: left; max-height:400px;" *ngFor="let chit of listContactGuard">
													<input type="checkbox" (change)="onChange(chit.id,chit.name,chit.type,$event.target.checked)">
													<a> {{chit.name}} {{chit.lastname}} </a>
												</li>
												<li class="list-group-item" style="border: 0" *ngFor="let chit of listContactAdmin">
													<input type="checkbox" (change)="onChange(chit.id,chit.name,chit.type,$event.target.checked)">
													<a> {{chit.name}} {{chit.lastname}} </a>
												</li>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" (click)="add(chit.id,addUsers)" data-dismiss="modal">Save changes</button>
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</ul>
					</div> <!-- ID CHANNEL -->
				</div> <!-- MY TAB CONTENT -->
			</div>
	</aside>
	<div class="messages-container">
		<div style="overflow-y: auto" #scrollMe [scrollTop]="scrollMe.scrollHeight">
			<ul class="list-group chat-lines">
				<li class="list-group-item" *ngFor="let chit of currentChat">
					{{chit.user}}: {{chit.message}}
				</li>
			</ul>
		</div>
		<form class="write-container" #chatForm="ngForm" (ngSubmit)="newMessage(chatForm.value)" autocomplete="off">
			<div class="form-group">
				<label for="message">Escribir Mensaje</label>
				<br>
				<input [(ngModel)]="message" type="text" class="form-control" id="message" name="message" placeholder="message...">
			</div>
			<button type="submit" class="btn btn-primary" [disabled]="loading" *ngIf="!loading disable" >Enviar</button>
			<div class="loader" *ngIf="loading"></div>
		</form>
	</div>
</div>
