<!--<div class="mr-auto row ml-2" style="background-color: white">-->
	<!--<a routerLink="/u/control/home" [routerLinkActive]="['active']" title="Atrás">-->
	    <!--<i class="fas fa-reply icono" style="padding: 10px !important; font-size: 1.8rem !important; color: var(&#45;&#45;secondary-color)"></i>-->
	<!--</a>-->
	<!--<h3 class="list-title mt-2 ml-2" style="color: var(&#45;&#45;secondary-color)">Bitácora</h3>-->
<!--</div>-->
<div class="home" [ngStyle]="{background: 'url(./assets/img/background-control.jpg)'}">
	<div class="container-fluid row mx-auto" style="background-color: white">
	<div class="mr-auto row ml-1 mt-2">
		<a routerLink="/u/control/home" [routerLinkActive]="['active']" title="Atrás" style="color: var(--secondary-color)">
			<i class="fas fa-reply icon-return"></i>
		</a>
		<h3 class="list-title">Bitácora</h3>
	</div>
	</div>
<div>
	<div class="row mx-auto">
		<a class="col-4 cardcontrol mt-5 link" routerLink="/u/control/bitacora/reportes" [routerLinkActive]="['active']">
			<div class="mx-auto content-control pb-2 pt-3">
				<i class="fas fa-list-ol icono" style="background-color: #ffc107; padding: 12px !important"></i>
				<p class="enlace">Reportes Abiertos</p>
			</div>
		</a>
		<a class="col-4 cardcontrol mt-5 link" routerLink="/u/control/bitacora/reportfilter" [routerLinkActive]="['active']">
			<div class="mx-auto content-control pb-2 pt-3">
				<i class="fas fa-list icono" style="background-color: #007bff; padding: 12px !important"></i>
				<p class="enlace">Todos los reportes</p>
			</div>
		</a>
		<a class="col-4 cardcontrol mt-5 link" routerLink="/u/control/bitacora/incidencias" [routerLinkActive]="['active']">
			<div class="mx-auto content-control pb-2 pt-3">
				<i class="fas fa-exclamation-triangle icono" style="background-color: #dc3545; padding: 12px 9px !important"></i>
				<p class="enlace">Tipos de incidencia</p>
			</div>
		</a>
	</div>
</div>
</div>