@import "https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css";
.map{
    height: 100%;
    width: 100%;
}

.virtual-container{
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
}