
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

<main class="virtual-container">
    <div class="map"
         leaflet
         leafletDraw
         [leafletDrawOptions]="drawOptions"
         [leafletOptions]="options"
         [(leafletZoom)]="zoom"
         [(leafletCenter)]="center"
         [leafletBaseLayers]="baseLayers"
         [leafletLayersControlOptions]="layersControlOptions"
         (leafletMapReady)="onMapReady($event)">
    </div>
</main>