<!--<agm-map class="google-map" [latitude]="lat" [longitude]="lng" [zoom]="zoom">-->
        <!--<agm-marker  *ngFor="let vehicle of vehicles;" [latitude]="vehicle.latitude" [longitude]="vehicle.longitude" [iconUrl]="vehicle.iconUrl">-->
            <!--<agm-info-window>-->
                <!--<app-html-marker [vehicle]="vehicle"></app-html-marker>-->
            <!--</agm-info-window>-->
        <!--</agm-marker>-->
<!--</agm-map>-->

<agm-map class="google-map" [latitude]="lat" [longitude]="lng" [zoom]="5">
    <agm-marker  *ngFor="let watch of watches2;" [latitude]="watch.latitude" [longitude]="watch.longitude" >
        <!--<agm-info-window>-->
            <!--<app-html-marker [watch]="watch"></app-html-marker>-->
        <!--</agm-info-window>-->
    </agm-marker>
</agm-map>