

<agm-map  class="google-map" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    
    <div  *ngIf="showMarkers == 'showVehiclesMarkers'">
        <agm-marker  *ngFor="let vehicle of vehicles" [latitude]="vehicle.latitude" [longitude]="vehicle.longitude" [iconUrl]="vehicle.iconUrl">
            <agm-info-window>
                <app-popup-vehicle [vehicle]="vehicle"></app-popup-vehicle>
            </agm-info-window>
        </agm-marker>
    </div>
    
    <div  *ngIf="showMarkers == 'showWatchesMarkers' ">
        <agm-marker  *ngFor="let watch of watches" [latitude]="+watch.latitude" [longitude]="+watch.longitude" [iconUrl]="watch.iconUrl">
            <agm-info-window>
                <app-popup-watch [watch]="watch"></app-popup-watch>
            </agm-info-window>
        </agm-marker>
    </div>
    
</agm-map>