/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~ngx-toastr/toastr.css';

*{
    /*Fonts*/
    --main-font: 'Roboto', sans-serif;
    font-family: var(--main-font);

    /*sizes*/
    --t1: 1.4em;
    --t2: 1em;
    --p: 0.8em;

    /*Colors*/
    --primary-color: maroon;
    --secondary-color: #666;

    /*Layout props*/
    margin: 0;
    --gutter: 1em;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--primary-color);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bus-div-icon {
    background: royalblue;
    border-radius: 3px;
    color: white;
    text-align:center;
    font-size: 9px;
    opacity: 0.75;
}

.bus-div-icon-red {
    background: darkred;
    border-radius: 3px;
    color: white;
    text-align:center;
    font-size: 9px;
    opacity: 0.75;
}

