/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@ng-select/ng-select/themes/default.theme.css";

*{
    /*Fonts*/
    --main-font: 'Roboto', sans-serif;
    font-family: var(--main-font);

    /*sizes*/
    --t1: 1.4em;
    --t2: 1em;
    --p: 0.8em;

    /*Colors*/
    --primary-color: maroon;
    --secondary-color: #666;

    /*Layout props*/
    /*display: block;*/
    /*width: 100%;*/
    /*height: 100%;*/
    margin: 0;
    --gutter: 1em;
    /*min-width: 100vw;*/
    /*min-height: 100vh;*/
}

/*app-main{*/
    /*display: flex;*/
    /*flex-direction: column;*/
/*}*/

/*body{*/

    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-content: stretch;*/
    /*align-items: stretch;*/
    /*height: 100vh;*/
/*}*/

/*app-main{*/
    /*order: 0;*/
    /*flex: 1 1 auto;*/
    /*align-self: auto;*/
    /*display: grid;*/
/*}*/

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--primary-color);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

