
  <ng-multiselect-dropdown id="select-bounds"
    [placeholder]="'Selección de zonas'"
    [data]="dropdownList"
    [(ngModel)]="selectedItems"
    [settings]="dropdownSettings"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    (onDeSelect)="onItemDeSelect($event)"
    (onDeSelectAll)="onDeSelectAll($event)">
  </ng-multiselect-dropdown>

  <div *ngIf="showDevices" class="btn btn-secondary" role="button" title="Actualizar mapa.." id="update-button" (click)="updateMap()">
      <i class="fas fa-sync-alt fa-lg" *ngIf="!searching" style="color: black; padding-top: 8px;"></i>
      <i class="fa fa-spinner fa-spin" *ngIf="searching" style="color: darkred; font-size: 1.4rem; margin-top: 4px"></i>
  </div>

  <div class="map"
       leaflet
       [leafletOptions]="options"
       [(leafletZoom)]="zoom"
       [(leafletCenter)]="center"
       [leafletBaseLayers]="baseLayers"
       [leafletLayersControlOptions]="layersControlOptions"
       [leafletMarkerCluster]="markerClusterData"
       [leafletMarkerClusterOptions]="markerClusterOptions"
       (leafletMarkerClusterReady)="markerClusterReady($event)"
       (leafletMapReady)="onMapReady($event)">
  </div>

