@import "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css";

.map{
    height: 100%;
    width: 100%;
}

.online-marker{
    color: limegreen;
}

.p-popup{

}

.container-map {
  height: 100%;
  width: 100%;
}
