
<div class="info-container panel panel-default"  *ngIf="lista">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <a routerLink="/u/control/bitacora" title="Atrás" style="color: var(--secondary-color)">
                <i class="fas fa-reply icon-return"></i>
            </a>
            <h3 class="list-title">Reportes con comenterios sin leer</h3>
            <button *ngIf="!isLoading" class="btn btn-default update-circle-button" title="Actualizar..." (click)="getUnread()">
                <i class="fas fa-sync-alt fa-lg" style="padding-right: 8px"></i>
            </button>
        </div>
        <div class="ml-auto form-inline" >
            <button class="btn btn-outline-secondary mr-1" style="display: inline-block;" title="Map de Alertas" (click)="getMapAlertas()"><span class="fas fa-map-marker-alt"></span></button>
        </div>
    </div>
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-2 form-inline">
            <label class="mr-1"><b>Mostrar:</b></label>
            <select id="inputState" class="form-control-sm mr-1 filtros" [(ngModel)]="numElement" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
            </select>
            <label>Elementos</label>
        </div>
        <div class="ml-auto form-inline">
            <div class="form-group row">
                <input type="text" name="searchString" class="form-control" placeholder="Buscar" name="search" [(ngModel)]="filter" style="margin-right: 20px;">
            </div>
        </div>
    </div>
    <div class="table mt-2 container-fluid">
        <table class="table table-bordered">
            <thead class="thead-light">
            <th (click)="sort('stand_name')">Puesto
                <span class="fas" *ngIf="key =='stand_name'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('title')">Título
                <span class="fas" *ngIf="key =='title'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('observation')">Observación
                <span class="fas" *ngIf="key =='observation'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('create_date')">Fecha
                <span class="fas" *ngIf="key =='create_date'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('unread')"><i class="fas fa-comment"></i>
                <span class="fas" *ngIf="key =='unread'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th>Detalle</th>
            </thead>
            <tbody>
            <tr *ngFor="let d of data  | reportFilter: filter | orderBy: key : reverse | paginate: { itemsPerPage: numElement, currentPage: p }">
                <td>{{d.watch.stand_name}}</td>
                <td>{{d.title}}</td>
                <td>{{d.observation}}</td>
                <td>{{d.create_date | date : 'medium'}}</td>
                <td>
                    <span *ngIf="d.unread > 0" style="background: limegreen; padding: 2px 6px; border-radius: 50%; color: white; font-size: .8rem; text-align: right;">{{d.unread}}</span>
                </td>
                <td>
                    <a class="btn btn-primary btn-xs" (click)="viewDetail(d)"  title="Detalle"><span class="far fa-eye"></span></a>
                </td>
            </tr>
            <tr *ngIf="data.length == 0 && !isLoading">
                <th colspan="8" class="text-center">
                    <div style="font-size: 1.3rem; color: gray">
                        No hay nuevos comentarios. &nbsp;
                    </div>
                </th>
            </tr>
            <tr *ngIf="isLoading">
                <th colspan="8">
                    <div style="font-size: 1.2rem">
                        Cargando información, espere... &nbsp; <span class="fa fa-spinner fa-spin fa-fw"></span>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center; padding-right: 40px;" *ngIf="data.length > 10 && !isLoading">
            <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel=""
                                 nextLabel="">
            </pagination-controls>
        </div>
    </div>
</div>
<div class="info-container panel panel-default" *ngIf="detalle">
    <div class="row panel-heading mb-2" style="background-color: #D9D9D9; padding: 10px">
        <div class="mr-auto ml-4">
            <h3 class="panel-title"><i class="fas fa-info-circle" style="margin-right: 20px;"></i>Detalle Reporte</h3>
        </div>
        <div class="ml-auto" style="margin-top: 25px; margin-right: 60px;">
            <div class="btn-group btn-group-toggle ml-4" data-toggle="buttons">
                <label class="btn btn-outline-dark" (click)="excelDetalle()">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Excel
                </label>
                <label class="btn btn-outline-dark" (click)="pdfDetalle()">
                    <input type="radio" name="options" id="option2" autocomplete="off"> PDF
                </label>
                <label class="btn btn-outline-dark" (click)="printDetalle()">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Print
                </label>
            </div>
        </div>
    </div>
    <div class="panel-body mt-2">
        <div class="table-container container">
            <form  role="form">
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Incidencia</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" id="name" value="{{report.title}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Observación</label>
                    <div class="col-sm-10">
                        <textarea rows="6" cols="10" readonly class="form-control input">{{report.observation}}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Fecha</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" value="{{report.create_date | date : 'medium'}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dni" class="col-sm-2 col-form-label">Latitud</label>
                    <div class="col-sm-4">
                        <input type="number" readonly class="form-control" id="dni" value="{{report.latitude}}">
                    </div>
                    <label for="dni" class="col-sm-2 col-form-label">Longitud</label>
                    <div class="col-sm-4">
                        <input type="number" readonly class="form-control" id="dni" value="{{report.longitude}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dni" class="col-sm-2 col-form-label">Mapa</label>
                    <div class="col-sm-10">
                        <div class="map"
                             leaflet
                             [leafletOptions]="options"
                             [(leafletZoom)]="zoom"
                             [(leafletCenter)]="center"
                             [leafletBaseLayers]="baseLayers"
                             [leafletLayersControlOptions]="layersControlOptions"
                             (leafletMapReady)="onMapReady($event)">
                        </div>
                    </div>
                </div>
                <div *ngIf="report.image_1 || report.image_2 || report.image_3 || report.image_4 || report.image_5" class="form-group row">
                    <label class="col-sm-2 col-form-label">Imagenes</label>
                    <a [hidden]="!report.image_1" data-toggle="modal" href="#image1"><img src="{{report.image_1}}" class="image-detail-gallery"></a>
                    <a [hidden]="!report.image_2" data-toggle="modal" href="#image2"><img src="{{report.image_2}}" class="image-detail-gallery"></a>
                    <a [hidden]="!report.image_3" data-toggle="modal" href="#image3"><img src="{{report.image_3}}" class="image-detail-gallery"></a>
                    <a [hidden]="!report.image_4" data-toggle="modal" href="#image4"><img src="{{report.image_4}}" class="image-detail-gallery"></a>
                    <a [hidden]="!report.image_5" data-toggle="modal" href="#image5"><img src="{{report.image_5}}" class="image-detail-gallery"></a>
                </div>
                <!--Modal: modalVM-->
                <div class="modal fade" id="image1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Body-->
                            <div class="modal-body mb-0 p-0">
                                <img src="{{report.image_1}}" class="image-detail-photo-full">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Modal: modalVM-->
                <div class="modal fade" id="image2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Body-->
                            <div class="modal-body mb-0 p-0">
                                <img src="{{report.image_2}}" class="image-detail-photo-full">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Modal: modalVM-->
                <div class="modal fade" id="image3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Body-->
                            <div class="modal-body mb-0 p-0">
                                <img src="{{report.image_3}}" class="image-detail-photo-full">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Modal: modalVM-->
                <div class="modal fade" id="image4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Body-->
                            <div class="modal-body mb-0 p-0">
                                <img src="{{report.image_4}}" class="image-detail-photo-full">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Modal: modalVM-->
                <div class="modal fade" id="image5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Body-->
                            <div class="modal-body mb-0 p-0">
                                <img src="{{report.image_5}}" class="image-detail-photo-full">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Guardia</b></label>
                </div>
                <div class="form-group row">
                    <label for="dni" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" value="{{report.watch.guard.name}}">
                    </div>
                    <label for="dni" class="col-sm-2 col-form-label">Apellido</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" value="{{report.watch.guard.lastname}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dni" class="col-sm-2 col-form-label">Cédula</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" value="{{report.watch.guard.dni}}">
                    </div>
                    <label for="dni" class="col-sm-2 col-form-label">Correo</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" value="{{report.watch.guard.email}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Tablet</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" value="{{report.watch.tablet_imei}}">
                    </div>
                    <label class="col-sm-2 col-form-label">Puesto</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" value="{{report.watch.stand_name}}">
                    </div>
                </div>


                <hr>
                <div class="form-group row mt-2" style="display: flex; flex-direction: row; flex-wrap: nowrap;">
                    <label class="col-sm-3 col-form-label"><b>Comentarios</b></label>

                    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%; justify-content: flex-end; padding-right: 16px;">
                        <button style="width: 20vw" class="btn btn-success col-md-2" *ngIf="report.resolved == 0" (click)="changeResolve(report, report.resolved)">Reabrir</button>
                        <button style="width: 20vw" class="btn btn-danger col-md-2" *ngIf="report.resolved != 0" (click)="changeResolve(report, report.resolved)">Cerrar</button>
                        <button style="width: 30vw; margin-left: 8px" class="btn btn-success col-md-3" *ngIf="report.resolved != 0" (click)="agregarComentario()">Agregar comentario</button>
                    </div>
                </div>
                <div>
                    <div class="form-group row mt-2" *ngIf="addcomment">
                        <label class="col-sm-2 col-form-label">Nuevo Comentario</label>
                        <div class="col-sm-8">
                            <textarea [(ngModel)]="newcoment" [ngModelOptions]="{standalone: true}" placeholder="Ingrese nuevo comentario" style="width: 100%"></textarea>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-danger" (click)="guardarComentario(report.id)">Enviar</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div *ngFor="let c of coment">
                        <div class="bubble-reply">
                            <p class="user-reply">{{c.user_name}} <span class="text-reply">{{c.text}}</span></p>
                            <p class="date-reply">{{c.create_date | agoTime}}</p>
                        </div>
                    </div>
                </div>



                <hr>
                <div class="row mt-4">
                    <a class="btn btn-info btn-block col-md-3 mx-auto" (click)="regresar()" style="color: white;"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="info-container panel panel-default"  *ngIf="viewmap">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <a (click)="regresar()" title="Atrás" style="color: var(--secondary-color)">
                <i class="fas fa-reply icon-return"></i>
            </a>
            <h3 class="list-title">Mapa de Reportes Abiertos</h3>
        </div>
    </div>
    <div class="table mt-2 container-fluid">
        <div class="mapchart"
             leaflet
             [leafletOptions]="options"
             [(leafletZoom)]="zoom"
             [(leafletCenter)]="center"
             [leafletBaseLayers]="baseLayers"
             [leafletLayersControlOptions]="layersControlOptions"
             (leafletMapReady)="onMapReadyChart($event)">
        </div>
    </div>
</div>



